body {
  padding: 0px;
  margin: 0px;
  a {
    text-decoration: none;
    color: $Dark-grayish-blue;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
  }
  a:focus,
  a:visited,
  a:active,
  button:active,
  button:visited,
  button:focus {
    outline: none;
  }

  P {
    color: $Dark-grayish-blue;
  }
  button {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
  }
}
body,
html {
  overflow-x: hidden;
}
