.section {
  padding-top: 40px;
  padding-right: 80px;
  padding-left: 80px;
  display: flex;
  justify-content: space-between;
  @include breakpoint-down(medium) {
    padding-left: 0px;
    padding-right: 30px;
  }
  @include breakpoint-down(small) {
    flex-direction: column;
    padding: 0;
  }

  &-divA {
    visibility: hidden;
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    img {
      height: 15px;
      width: 10px;
      @include breakpoint-down(small) {
        height: 10px;
        width: 8px;
      }
    }
    @include breakpoint-down(small) {
      visibility: visible;
      display: flex;
      height: 360px;
      margin-top: 26px;
      justify-content: space-between;
      align-items: center;
      button {
        background: $White;
        padding: 0;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: none;
        z-index: 1;
      }
      width: 100%;
      margin-top: 0px;
      height: 300px;
    }
    &-pdtimgcontainer {
      height: 360px;
      width: 350px;
      overflow: hidden;
      @include breakpoint-down(small) {
        overflow: visible;
        height: 300px;
      }
      img {
        height: 360px;
        width: 350px;
        border-radius: 10px;
        @include breakpoint-down(small) {
          border-radius: 0;
          width: 130%;
          height: 300px;
          left: -15%;
          position: relative;
        }
      }
    }
  }
  &-divB {
    width: 500px;
    padding-left: 20px;
    align-self: center;
    @include breakpoint-down(small) {
      width: 100%;
      padding: 0px;
    }
    h3 {
      color: $Orange;
    }

    h1 {
      padding-bottom: 0px;
    }
    span {
      font-size: 14px;
      color: $Orange;
      background: $Pale-orange;
    }
    button {
      background: $Orange;
      color: $White;
      border: none;
      border-radius: 5px;
      height: 40px;
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        padding-right: 10px;
      }
    }
    &-price {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
      width: 190px;

      h1 {
        padding-bottom: 0px;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          padding-left: 10px;
        }
      }
      p {
        padding-left: 2px;
        margin: 0px;
      }
      @include breakpoint-down(small) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        p {
          margin-top: 20px;
          align-items: center;
          align-content: center;
          padding-right: 10px;
        }
      }
    }
    &-buttonDiv {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: space-between;
      width: 300px;
      padding-bottom: 20px;
      @include breakpoint-down(small) {
        flex-direction: column;
        width: 100%;
        button {
          width: 100%;
        }
      }
    }
    &-counter {
      height: 20px;
      width: 90px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include breakpoint-down(small) {
        width: 100%;
        padding-bottom: 25px;
        padding-top: 15px;
      }
      button {
        padding: 0px;
        background: none;
        border: none;
        @include breakpoint-down(small) {
          width: 100%;
          img {
            padding: 0;
          }
        }
        &:not(:first-child) {
          padding-left: 10px;
        }
      }
    }
  }
}

.imageswiththumbnail {
  height: 460px;
  margin-top: 26px;
  button {
    all: unset;
  }
  img {
    height: 360px;
    width: 350px;
    border-radius: 10px;
  }
  &-thumbnail {
    padding-top: 20px;
    height: 70px;
    width: 350px;
    display: flex;
    justify-content: space-between;

    button {
      all: unset;
      height: 70px;
      width: 70px;
      &:focus {
        border: 2px solid $Orange;
        border-radius: 12px;
      }
      img {
        height: 70px;
        width: 70px;
        border-radius: 10px;
        &:hover {
          filter: contrast(50%);
        }
      }
    }
    @include breakpoint-down(small) {
      height: 0;
      width: 0;
      visibility: hidden;
      padding: 0;
      margin: 0;
    }
  }
  @include breakpoint-down(small) {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}

.previmages {
  margin-top: 26px;
  width: 450px;
  height: 550px;
  margin-top: 40px;
  align-items: center;
  display: flex;
  flex-direction: column;
  &-closeicon {
    float: left;
    button {
      all: unset;
      cursor: pointer;
      svg {
        height: 20px;
        width: 20px;
        margin-left: 431px;
        margin-bottom: 8px;
        &:hover path {
          fill: $Orange;
        }
      }
    }
  }
  &-buttonscontainer {
    display: flex;
    align-items: center;
    width: 490px;
    justify-content: space-between;
    position: absolute;
    margin-top: 220px;
    z-index: 1;
    button {
      height: 40px;
      width: 40px;
      border: none;
      background-color: white;
      border-radius: 50%;
      svg {
        &:hover path {
          fill: $Orange;
        }
      }
    }
  }
  img {
    height: 430px;
    width: 450px;
    border-radius: 10px;
  }
  &-thumbnail {
    padding-top: 20px;
    height: 70px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    img {
      height: 70px;
      width: 70px;
      &:hover {
        filter: contrast(50%);
      }
    }

    button {
      border: none;
      padding: 0px;
      margin: 0px;
      all: unset;
      height: 70px;
      &:focus {
        border: 2px solid $Orange;
        border-radius: 10px;
      }
    }
  }
}
